<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'application', :media => 'screen' %>
<%= stylesheet_link_tag 'moneta/edit_buttons/manifest', :media => 'screen' if feature_active?(:edit_buttons) %>
<%= stylesheet_link_tag 'moneta/menus/manifest', :media => 'screen' if feature_active?(:menus) %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'moneta/algolia_search/manifest' if feature_active?(:algolia_search) %>
<%= javascript_include_tag 'moneta/edit_buttons/manifest' if feature_active?(:edit_buttons) %>
<%= javascript_include_tag 'moneta/menus/manifest' if feature_active?(:menus) %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
